/* Reset some default styles */
body, div, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Center align text and images */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 40px;
    color: black;
    padding: 10px;
    font-family: "Playfair Display", sans-serif;
  }
  
  p {
    font-size: 20px;
    color: green;
    padding: 10px;
    font-family: "Playfair Display", sans-serif;
  }
  
  .creator-info {
    margin-top: 20px;
  }
  
  .creator-image {
    max-width: 100%;
    height: auto;
    border: 10px solid cyan;
    border-radius: 12%;
  }
  