/* App.css */

/* Reset font size and calculate font size based on vw (viewport width) */
.App {
  text-align: center;
  font-size: 1.5rem; /* Adjust the font size as needed */
}

.App-logo {
  height: 10vw; /* Adjust the height based on the screen size */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem; /* Adjust the font size as needed */
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  background-color: white; /* Dark blue color */
  color: black; /* Text color for better contrast */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: white; /* Dark blue color */
  color: black; /* Text color for better contrast */
}
/* App.css */

/* ... (other CSS rules) */

.welcome-title {
  font-size: 32px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #333;
  position: relative;
  width: 100%;
  animation: typing 3s steps(40, end), blink-caret 0.5s step-end infinite;
}

.welcome-text {
  font-size: 18px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #333;
  position: relative;
  width: 100%;
  animation: typing 3s steps(60, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}
